/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
	display: block;
}

* {
	padding: 0;
	margin: 0;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	line-height: 1;
	position: relative;
}

html, body {
	width: 100%;
	/*height: 100%;*/
	font-family: 'PFDinDisplay', Helvetica, Arial, sans-serif;
	background: #fff;
	color: #000;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

a img {
	border:none
}

a {
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

a:focus, a:hover {
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
	text-decoration: none;
	color: inherit;
}

.clearfix {
	clear: both;
	line-height: 0;
	display: block;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

input {
	margin: 0; 
	padding: 0; 
	border: none; 
	outline: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

textarea:focus, input:focus{
	outline: 0;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder {
	color: transparent;
}
input:focus::-moz-placeholder {
	color: transparent;
}
input:focus:-ms-input-placeholder {
	color: transparent;
}
textarea:focus::-webkit-input-placeholder {
	color: transparent;
}
textarea:focus:-moz-placeholder {
	color: transparent;
}
textarea:focus::-moz-placeholder {
	color: transparent;
}
textarea:focus:-ms-input-placeholder {
	color: transparent;
}
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, textarea {
	-webkit-border-radius: 0;
}

textarea { 
	resize: none; 
	overflow: auto; 
	margin: 0; 
}

*::selection {
	color: #fff;
	background: #0f84aa;
}

*::-moz-selection {
	color: #fff;
	background: #0f84aa;
}

label {
	display: inline-block;
}

.clear {
	clear: both;
}

/* F O N T S */
/*--------------------------------------------------------------------------------------------------------------------*/
@font-face {
	font-family: 'PFDinDisplay';
	src: url('../fonts/PFDinDisplayPro-Reg.eot');
	src: url('../fonts/PFDinDisplayPro-Reg.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFDinDisplayPro-Reg.woff') format('woff'),
		url('../fonts/PFDinDisplayPro-Reg.ttf') format('truetype'),
		url('../fonts/PFDinDisplayPro-Reg.otf') format('opentype'),
		url('../fonts/PFDinDisplayPro-Reg.svg#PFDinDisplay') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinDisplayLight';
	src: url('../fonts/PFDinDisplayPro-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.fs {
	font-size: 0;
}

.spacer {
	height: 61px;
	display: none;
}

.catalog-img{
height: 215px;
line-height: 215px;
}

.wrapper {
	position: relative;
	min-height: 100%;
	width: 100%;
	background: #f5f5f5;
}

.main-page.wrapper {
	background: #fff;
}

.footer-spacer {
	padding-bottom: 400px;
	background: #000;
}

.main_title,
.product_tabs_content h1 {
	font-family: 'PFDinDisplayLight', Arial, sans-serif;
	font-size: 36px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	padding: 30px 0;
}

.main_title span {
	white-space: nowrap;
}

.cd-top {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: block;
	width: 47px;
	height: 47px;
	background: rgba(0,0,0,0.3);
	z-index: 3;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
	visibility: visible;
	opacity: 1;
}

.cd-top:hover {
	background: rgba(0,0,0,0.6);
}

.cd-top:before,
.cd-top:after {content: '';
	position: absolute;
	left: 0;
	height: 0;
	width: 33%;
	border-top: 2px solid #fff;
}

.cd-top:before {
	bottom: 0;
	left: 8px;
	right: auto;
	-webkit-transform: skew(0deg, 45deg);
	-moz-transform: skew(0deg, 45deg);
	-ms-transform: skew(0deg, 45deg);
	-o-transform: skew(0deg, 45deg);
	transform: skew(0deg, -45deg);
	-webkit-transform-origin: -19px 0;
	-moz-transform-origin: -19px 0;
	-ms-transform-origin: -19px 0;
	-o-transform-origin: -19px 0;
	transform-origin: -19px 0;
}

.cd-top:after {
	top: 0;
	left: auto;
	right: 8px;
	-webkit-transform: skew(0deg, 45deg);
	-moz-transform: skew(0deg, 45deg);
	-ms-transform: skew(0deg, 45deg);
	-o-transform: skew(0deg, 45deg);
	transform: skew(0deg, 45deg);
	-webkit-transform-origin: -11px 100%;
	-moz-transform-origin: -11px 100%;
	-ms-transform-origin: -11px 100%;
	-o-transform-origin: -11px 100%;
	transform-origin: -11px 0;
}

.img-zoom {
	position: relative;
	display: block;
}

.img-zoom:hover:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url("../img/loupe.png") center no-repeat;
	z-index: 1;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.popup-mask {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(0,0,0,0.6);
}

.popup {
	max-width: 100%;
	/*position: absolute;*/
	position: relative;
	font-size: 15px;
	margin: auto;
	background: #fff;
	padding: 10px 40px 40px;
	z-index: 11;
}

.popup-close,
.fancybox-close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 35px;
	height: 35px;
	background: #0876bb;
	cursor: pointer;
	z-index: 9999;
}

.popup-close:before, .popup-close:after,
.fancybox-close:before, .fancybox-close:after {
	content: '';
	position: absolute;
	right: 10px;
	height: 15px;
	width: 1px;
	background: #fff;
}

.popup-close:before,
.fancybox-close:before {
	top: 10px;
	-webkit-transform: skew(-45deg, 0deg);
	-moz-transform: skew(-45deg, 0deg);
	-ms-transform: skew(-45deg, 0deg);
	-o-transform: skew(-45deg, 0deg);
	transform: skew(-45deg, 0deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}

.popup-close:after,
.fancybox-close:after {
	bottom: 10px;
	-webkit-transform: skew(45deg, 0deg);
	-moz-transform: skew(45deg, 0deg);
	-ms-transform: skew(45deg, 0deg);
	-o-transform: skew(45deg, 0deg);
	transform: skew(45deg, 0deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.form_item {
	width: 490px;
	max-width: 100%;
	letter-spacing: 0.3px;
	margin: 17px 0 27px;
	clear: both;
}

.form_item label {
	width: 140px;
	float: left;
	line-height: 18px;
	padding: 11px 0;
	color: #000;
}

.form_item label span {
	color: #c7556c;
}

.form_item_input-container {
	position: relative;
	display: block;
	overflow: hidden;
}

.form_item input[type="text"], .form_item input[type="email"], .form_item textarea {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #000;
	line-height: 40px;
	width: 100%;
	height: 40px;
	padding: 0 10px;
	background: #f9f9f9;
	border: 1px solid #bebebe;
}

.form_item textarea {
	height: 150px;
}

.form_item_p {
	margin: 45px 0 40px;
}

.form_item_p_imp {
	color: #c7556c;
}

.form_item_btn_container {
	text-align: center;
}

.form_item_btn {
	font-size: 15px;
	color: #fff;
	line-height: 17px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	padding: 7px 17px;
	vertical-align: middle;
	background: #0876bb;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.fancybox-skin {
	border-radius: 0;
	background: #fff;
}

.fancybox-title {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 15px;
	line-height: 30px;
	color: #000;
	background: #0876bb;
	padding: 0 80px;
}

.fancybox-nav span,
.images-slider_arr {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 20px;
	height: 40px;
	margin: auto;
	cursor: pointer;
	visibility: visible;
	z-index: 3;
}

.fancybox-nav span:before,
.fancybox-nav span:after,
.images-slider_arr:before,
.images-slider_arr:after {
	content: '';
	position: absolute;
	left: 0;
	height: 50%;
	width: 0;
	border-right: 2px solid #bfbfbf;
}

.fancybox-next {
	right: -52px;
}

.images-slider_arr_r {
	right: 0;
}

.fancybox-next span:before,
.images-slider_arr_r:before {
	top: 0;
	-webkit-transform: skew(35deg, 0deg);
	-moz-transform: skew(35deg, 0deg);
	-ms-transform: skew(35deg, 0deg);
	-o-transform: skew(35deg, 0deg);
	transform: skew(35deg, 0deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}

.fancybox-next span:after,
.images-slider_arr_r:after {
	bottom: 0;
	-webkit-transform: skew(-35deg, 0deg);
	-moz-transform: skew(-35deg, 0deg);
	-ms-transform: skew(-35deg, 0deg);
	-o-transform: skew(-35deg, 0deg);
	transform: skew(-35deg, 0deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.fancybox-prev {
	left: -52px;
}

.images-slider_arr_l {
	left: 0;
}

.fancybox-prev span:before,
.images-slider_arr_l:before {
	top: 0;
	left: auto;
	right: 0;
	-webkit-transform: skew(-35deg, 0deg);
	-moz-transform: skew(-35deg, 0deg);
	-ms-transform: skew(-35deg, 0deg);
	-o-transform: skew(-35deg, 0deg);
	transform: skew(-35deg, 0deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}

.fancybox-prev span:after,
.images-slider_arr_l:after {
	bottom: 0;
	left: auto;
	right: 0;
	-webkit-transform: skew(35deg, 0deg);
	-moz-transform: skew(35deg, 0deg);
	-ms-transform: skew(35deg, 0deg);
	-o-transform: skew(35deg, 0deg);
	transform: skew(35deg, 0deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}


/* H E A D E R */
/*--------------------------------------------------------------------------------------------------------------------*/
.header {
	position: relative;
	font-family: 'PFDinDisplay', Arial, sans-serif;
	padding: 20px 0;
}

.header-top {
	padding-bottom: 15px;
}

.header_logo-title {
	font-size: 14px;
	line-height: 17px;
	color: #13aae0;
	text-transform: uppercase;
	vertical-align: bottom;
	letter-spacing: 1px;
	white-space: nowrap;
}

.header_logo {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 5px;
}

.header_contacts {
	text-align: right;
}

.header_contacts_phone {
	font-size: 22px;
	line-height: 25px;
	color: #13aae2;
	padding: 7px 0 2px;
}

.header_contacts_contact {
	font-size: 11px;
	line-height: 17px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.header_contacts_contact a {
	text-decoration: underline;
	color: #13a9e2;
	white-space: nowrap;
}

.header_contacts_contact a:hover {
	text-decoration: none;
}

.header_contacts_contact a:last-child {
	color: #000;
	margin-left: 50px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.main-menu {
	z-index: 9;
	width: 100%;
	margin-bottom: 0;
	border-radius: 0;
	border: none;
	min-height: auto;
	background: #535353;
}

.main-menu_fixed {
	background: #535353;
}

.main-menu-container {
	display: table;
	width: 100%;
	margin: 0;
	padding: 15px 0;
}

.main-menu_link {
	display: table-cell;
	font-family: 'PFDinDisplay', Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	line-height: 17px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	padding: 7px 23px;
	vertical-align: middle;
}

.main-menu_link:hover,
.main-menu_link_active {
	background: #0876bb;
	color: #fff;
}

.navbar-toggle {
	float: none;
	margin-left: 80px;
}

.navbar-title {
	display: block;
	position: absolute;
	font-family: 'PFDinDisplayLight', Arial, sans-serif;
	font-size: 26px;
	color: #ddd;
	left: -65px;
	margin: -5px 0;
}


/* S L I D E R */
/*--------------------------------------------------------------------------------------------------------------------*/
.slider {
	display: none;
	position: relative;
	width: 100%;
	height: 728px;
	overflow: hidden;
	margin: auto;
	font-size: 0;
	min-width: 100%;
}

.slider-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: block;
	max-width: 100%;
	height: 728px;
	overflow: hidden;
	z-index: 1;
	text-align: center;
	padding: 0 250px;
	opacity: 0;
    background: url(../img/grey-bg.jpg) no-repeat top center;
    background-size: cover;
}

.slider-container:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 44px;
	height: 44px;
	background: url('../img/fancybox_loading.gif') center center no-repeat;
	z-index: 3;
}

.slider-container.slider-container_visible:after {
	display: none;
}

.slider-container:first-child {
	opacity: 1;
}

.slider-container_visible {
	opacity: 1;
}

.slider-container img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.slider-container:before {
	content: "";
	display: inline-block;
	width: 1px;
	margin-left: -1px;
	vertical-align: middle;
	height: 788px;
}

.slider_info-container {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: initial;
	position: relative;
	z-index: 3;
}

.slider_info-container_text {
	display: inline-block;
	vertical-align: middle;
	font-family: 'PFDinDisplayLight', Arial, sans-serif;
	letter-spacing: 1px;
	text-align: center;
	color: #fff;
	padding: 20px 70px;
	background: url("../img/slider-bg.png") no-repeat top center;
	background-size: cover;
	border: 10px solid rgba(255, 255, 255, 0.3);
}

.slider-container_title {
	display: block;
	font-size: 36px;
	line-height: 44px;
	color: #fff;
	text-transform: uppercase;
	margin: 20px 0;
}

.slider-container_text {
	display: block;
	font-size: 20px;
	color: #000;
	margin-bottom: 20px;
}

.slider_info-container_hidden {
	opacity: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.main-page .header {
	padding: 0;
}

.main-page .header-top {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	z-index: 4;
}

.main-page .main-menu {
	background: transparent;
	position: absolute;
	top: 86px;
}

.main-page .main-menu_fixed {
	background: #535353;
}

.main-page .header_contacts_contact a:last-child {
	color: #fff;
}

.main-page .slider {
	display: block;
}


/* M A I N */
/*--------------------------------------------------------------------------------------------------------------------*/
.main {
	position: relative;
	padding-bottom: 90px;
}

.main-page .main {
	padding-bottom: 0;
}

.main img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	vertical-align: middle; 
}

.main-btn {
	font-family: 'PFDinDisplayLight', Arial, sans-serif;
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	color: #fff;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 16px 40px;
	border: 1px solid #fff;
	margin: 20px auto;
}

.main-btn:hover {
	background: #d7d7d7;
	color: #000;
	border-color: #d7d7d7;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.breadcrumbs {
	font-family: 'PFDinDisplay', Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	text-decoration: none;
	margin: 20px 0 0;
}

.breadcrumbs a {
	display: inline-block;
	color: #7b7b7b;
	letter-spacing: 1px;
	margin-right: 3px;
}

.breadcrumb-prev {
	position: relative;
	padding-right: 5px;
}

.breadcrumb-prev:hover {
	text-decoration: underline;
}

.breadcrumb-prev:after {
	content: '';
	width: 1px;
	background: #4798ca;
	position: absolute;
	height: 12px;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.breadcrumb-current {
	text-decoration: underline;
	white-space: nowrap;
}

.breadcrumb-current:hover {
	text-decoration: none;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.main_text-block {
	padding: 10px 0 20px;
}

.main_img {
	margin: 0 20px 20px 0;
	float: left;
}

.second-title,
.third-title,
.product_tabs_content h2,
.product_tabs_content h3 {
	font-size: 24px;
	color: #0876bb;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.third-title,
.product_tabs_content h3 {
	font-size: 15px;
}

.fourth-title,
.product_tabs_content h4 {
	font-size: 15px;
	color: #000;
	letter-spacing: 2px;
	margin-bottom: 15px;
}

.main_text {
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.3px;
	margin-bottom: 20px;
}

.main_ul, .main_ol,
.product_tabs_content ul, .product_tabs_content ol {
	position: relative;
	padding-left: 14px;
	margin-bottom: 20px;
}

.main_ol,
.product_tabs_content ol {
	list-style: decimal;
}

.main_ol li,
.main_ul li,
.product_tabs_content ol li,
.product_tabs_content ul li {
	position: relative;
	font-size: 15px;
	margin-bottom: 10px;
	line-height: 18px;
	padding-left: 5px;
}

.main_ul li:before,
.product_tabs_content ul li:before {
	content: '';
	display: block;
	position: absolute;
	left: -14px;
	top: 5px;
	width: 8px;
	height: 8px;
	background: #0876bb;
}


/*--------------------------------------------------------------------------------------------------------------------*/
.catalog {
}

.main-page .catalog {
	background: url("../img/grey-bg.jpg") no-repeat top center;
	background-size: cover;
}

.catalog_item {
	display: inline-block;
	vertical-align: top;
	float: none;
	margin-bottom: 30px;
}

.catalog_item_content {
	position: relative;
	display: block;
	background: #fff;
	padding-top: 20px;
	text-align: center;
	box-shadow: 4px 4px 0 0 #bebebe;
}

.catalog_item_content:before {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #0876bb;
	z-index: 1;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	opacity: 0;
}

.catalog_item_content:hover:before {
	opacity: 0.46;
}

.catalog_item_title {
	display: table;
	width: 100%;
	font-family: 'PFDinDisplay', Arial, sans-serif;
	font-size: 17px;
	color: #fff;
	text-transform: uppercase;
	box-shadow: 4px 4px 0 0 #bebebe;
	padding: 0 10px;
	height: 47px;
	margin-bottom: 4px;
	background: url("../img/catalog-title-bg.jpg") no-repeat top left;
	background-size: cover;
}

.catalog_item_title_content {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 2;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.advantages {
	font-family: 'PFDinDisplayLight', Arial, sans-serif;
	text-align: center;
	background: url("../img/blue-bg.jpg") no-repeat top center;
	background-size: cover;
}

.advantages-info {
	font-size: 14px;
	line-height: 17px;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.advantages-info span {
	font-size: 24px;
}

.advantages_item {
	text-align: center;
	margin: 40px 0 20px;
	display: inline-block;
	vertical-align: top;
	float: none;
}

.advantages_item img {
	max-width: 100%;
}

.advantages_item_title  {
	display: table;
	height: 72px;
	width: 100%;
	max-width: 250px;
	font-size: 18px;
	color: #000;
	text-align: center;
	margin: 15px auto 0;
}

.advantages_item_title_content {
	display: table-cell;
	vertical-align: middle;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.default_slider {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 55px;
	margin-bottom: 60px;
}

.slider-nav {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	margin: auto;
	z-index: 3;
}

.default_slider_arr,
.slider-nav span {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 44px;
	height: 96px;
	margin: auto;
	cursor: pointer;
}

.default_slider_arr_l {
	left: 0;
}

.slider-nav span.left {
	left: 200px;
}

.default_slider_arr_r {
	right: 0;
}

.slider-nav span.right {
	right: 200px;
}

.default_slider_arr:before,
.default_slider_arr:after,
.slider-nav span:before,
.slider-nav span:after {
	content: '';
	position: absolute;
	left: 0;
	height: 50%;
	width: 0;
	border-right: 2px solid rgba( 57, 57, 57, 0.5 );
}

.slider-nav span:before,
.slider-nav span:after {
	border-right: 2px solid rgba( 255, 255, 255, 0.5 );
}

.default_slider_arr:hover:before,
.default_slider_arr:hover:after {
	border-right: 2px solid rgba( 57, 57, 57, 0.7 );
}

.slider-nav span:hover:before,
.slider-nav span:hover:after {
	border-right: 2px solid rgba( 255, 255, 255, 0.7 );
}

.default_slider_arr_l:before,
.slider-nav span.left:before {
	top: 0;
	left: auto;
	right: 0;
	-webkit-transform: skew(-35deg, 0deg);
	-moz-transform: skew(-35deg, 0deg);
	-ms-transform: skew(-35deg, 0deg);
	-o-transform: skew(-35deg, 0deg);
	transform: skew(-35deg, 0deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}

.default_slider_arr_l:after,
.slider-nav span.left:after {
	bottom: 0;
	left: auto;
	right: 0;
	-webkit-transform: skew(35deg, 0deg);
	-moz-transform: skew(35deg, 0deg);
	-ms-transform: skew(35deg, 0deg);
	-o-transform: skew(35deg, 0deg);
	transform: skew(35deg, 0deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.default_slider_arr_r:before,
.slider-nav span.right:before {
	top: 0;
	-webkit-transform: skew(35deg, 0deg);
	-moz-transform: skew(35deg, 0deg);
	-ms-transform: skew(35deg, 0deg);
	-o-transform: skew(35deg, 0deg);
	transform: skew(35deg, 0deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}

.default_slider_arr_r:after,
.slider-nav span.right:after {
	bottom: 0;
	-webkit-transform: skew(-35deg, 0deg);
	-moz-transform: skew(-35deg, 0deg);
	-ms-transform: skew(-35deg, 0deg);
	-o-transform: skew(-35deg, 0deg);
	transform: skew(-35deg, 0deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.default_slider_content {
	display: table;
	width: 100%;
	overflow: hidden;
}

.default_slider_content_item {
	position: relative;
	/*display: block;*/
	display: inline-block;
	text-align: center;
	padding: 0 15px;
	opacity: 1;
}
.default_slider_content_item img{
	height: auto;
}

.default_slider_content_item:hover {
	opacity: 0.5;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.clients .default_slider_content_item:hover {
	opacity: 1;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.production {
	background: url("../img/darkblue-bg.jpg") no-repeat top center;
	background-size: cover;
	padding-bottom: 40px;
}

.production .default_slider_arr:before,
.production .default_slider_arr:after {
	border-right: 2px solid rgba( 255, 255, 255, 0.5 );
}

.production .default_slider_arr:hover:before,
.production .default_slider_arr:hover:after {
	border-right: 2px solid rgba( 255, 255, 255, 0.7 );
}

/*--------------------------------------------------------------------------------------------------------------------*/
.honors {
	background: #dfdfdf;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.owl-controls.clickable {
	display: none!important;
}

.clients .owl-carousel .owl-item {
	float: none;
	display: inline-block;
	vertical-align: middle;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.contacts_block {
	display: table;
	font-size: 0;
	width: 100%;
}

.contacts_block_item {
	display: table-cell;
	vertical-align: top;
	font-family: 'PFDinDisplay', Arial, sans-serif;
	text-align: center;
	margin-bottom: 25px;
	width: 28%;
}

.contacts_block_item_title {
	font-size: 18px;
	color: #7b7b7b;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0;
}

.contacts_block_item_info {
	font-size: 15px;
	line-height: 18px;
	color: #000;
	padding: 20px 0;
	height: 78px;
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
}

.contacts_block_text {
	color: #7b7b7b;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.3px;
	margin-top: 25px;
}

.contacts_map {
	margin-top: 30px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.dealers {

}

.dealers .contacts_block {
	display: block;
	margin-top: 40px;
}

.dealers .contacts_block_item {
	display: block;
	width: 100%;
	margin-bottom: 0;
}

.dealers .contacts_block_item_title {
	display: inline-block;
	vertical-align: top;
	width: 16.5%;
}

.dealers .contacts_block_item_info {
	display: inline-block;
	width: 16.5%;
	vertical-align: top;
	border-bottom: 0;
	height: auto;
}


.dealers_select {
	font-size: 15px;
	color: #000;
	margin-bottom: 25px;
}

.dealers_select_item {
	margin-bottom: 10px;
}

.dealers_select_item span {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	line-height: 30px;
}

.dealers_select_item select {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	border: 1px solid #bebebe;
	outline: none;
	text-align: center;
	padding: 0 10px;
}


.dealers_select_link {
	float: right;
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 30px;
	text-decoration: underline;
	margin-bottom: 10px;
}

.dealers_select_link:hover {
	text-decoration: none;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.sidebar {
	padding-top: 20px;
	padding-bottom: 40px;
	overflow: hidden;
}

.sidebar_title {
	font-family: 'PFDinDisplayLight', Arial, sans-serif;
	font-size: 0;
	line-height: 60px;
	color: #f5f5f5;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-shadow: 1px 2px 1px rgba(0,0,0,0.72);
	background: url("../img/catalog-title-bg.jpg") no-repeat top left;
	background-size: cover;
}

.sidebar_title span {
	display: inline-block;
	vertical-align: middle;
	font-size: 36px;
}

.sidebar_title.dropdown {
	cursor: pointer;
}

.sidebar .navbar-toggle .icon-bar {
	background: #888;
}

.sidebar .navbar-toggle {
	display: none;
	vertical-align: middle;
	margin: 0 5px;
	border: 1px solid #ddd;
}

.sidebar .dropdown:hover .navbar-toggle {
	background: #ddd;
}

.sidebar .dropdown .navbar-toggle {
	display: inline-block;
}

.sidebar_menu-second {
	position: relative;
	padding: 0 10px 0 15px;
	border: 1px solid #a1a1a1;
	border-top: none;
	overflow: hidden;
}

.sidebar_menu-second.dropdown {
	-moz-transition: all .9s ease;
	-webkit-transition: all .9s ease;
	transition: all .9s ease;
	height: 0;
}

.sidebar_menu-second.dropdown.list-open {
	-moz-transition: all .9s ease;
	-webkit-transition: all .9s ease;
	transition: all .9s ease;
	height: 100%;
}

.sidebar_menu-second_link,
.sidebar_menu-second_link_drop-main {
	display: block;
	position: relative;
	font-family: 'PFDinDisplay', Arial, sans-serif;
	font-size: 15px;
	line-height: 15px;
	padding: 14px 10px 14px 25px;
	letter-spacing: 0.3px;
	color: #7b7b7b;
	border-bottom: 1px solid #a1a1a1;
}

.sidebar_menu-second_link:before,
.sidebar_menu-second_link_drop-main:before {
	content: '';
	position: absolute;
	left: 0;
	border: 8px solid transparent;
	border-right: none;
	border-left: 7px solid #13aae2;
}

.sidebar_menu-second_link:hover:before,
.sidebar_menu-second_link_drop-main:before {
	border-left: 7px solid #fff;
	left: 15px;
}

.sidebar_menu-second li:last-child .sidebar_menu-second_link {
	border-bottom: none;
}

.sidebar_menu-second_link_drop {
	padding: 5px 0;
}

.sidebar_menu-second_link_drop:before {
	display: none;
}

.sidebar_menu-second_link_drop .sidebar_menu-second_link_drop {
	padding: 0 15px;
	margin-bottom: 10px;
}

.sidebar_menu-second_link:hover,
.sidebar_menu-second_link_active,
.sidebar_menu-second_link_drop:hover,
.sidebar_menu-second_link_drop-main,
.sidebar_menu-second_link_drop-main:hover {
	color: #fff;
	background: #13aae2;
	box-shadow: 0 -1px 0 #13aae2;
	margin: 0 -10px 0 -15px;
	padding: 14px 20px 14px 40px;
}

.sidebar_menu-second_link_drop:hover {
	background: #f5f5f5;
	padding: 5px 0 5px 15px;
}

.sidebar_menu-second_link-inner {
	position: relative;
	display: block;
	font-size: 15px;
	line-height: 17px;
	color: #13aae2;
	padding: 4px 0 4px 45px;
	text-transform: none;
}

.sidebar_menu-second_link-inner_active,
.sidebar_menu-second_link-inner:hover {
	color: #7b7b7b;
	text-decoration: underline;
}

.sidebar > ul > li > a{
    display: block;
    position: relative;
    font-family: 'PFDinDisplay', Arial, sans-serif;
    font-size: 15px;
    line-height: 15px;
    padding: 14px 10px 14px 25px;
    letter-spacing: 0.3px;
    color: #7b7b7b;
    border-bottom: 1px solid #a1a1a1;
}
.sidebar > ul > li.active > a{
	color: #fff;
	background: #13aae2;
	box-shadow: 0 -1px 0 #13aae2;
	margin: 0 -10px 0 -15px;
	padding: 14px 20px 14px 40px;
}

.sidebar > ul > li.active > a:before{
	border-left: 7px solid #fff;
	left: 15px;
}
.sidebar > ul > li > a:before{
	content: '';
	position: absolute;
	left: 0;
	border: 8px solid transparent;
	border-right: none;
	border-left: 7px solid #13aae2;
}
.sidebar > ul > li > a:hover {
	color: #fff;
	background: #13aae2;
	box-shadow: 0 -1px 0 #13aae2;
	margin: 0 -10px 0 -15px;
	padding: 14px 20px 14px 40px;
}
.sidebar > ul > li > a:hover:before{
	border-left: 7px solid #fff;
	left: 15px;
}
.sidebar > ul > li ul{
	display: none;
}
.sidebar > ul > li.active > ul{
	display: block;
	padding: 5px 0;
}
.sidebar > ul > li.active > ul li a{
	position: relative;
    display: block;
    font-size: 15px;
    line-height: 17px;
    color: #13aae2;
    padding: 4px 0 4px 45px;
    text-transform: none;
}
.sidebar > ul > li.active ul li.active > a{
	color: #7b7b7b;
	text-decoration: underline;
}
.sidebar > ul > li.active > ul li a:hover{
	color: #7b7b7b;
	text-decoration: underline;
}
.sidebar > ul > li.active > ul li.active ul{
	display: block;
	padding-left: 20px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.product_block_title_container {
	font-size: 0;
	background: #bebebe;
}

.product_block_title {
	font-size: 14px;
	line-height: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	background: #bebebe;
	padding: 10px 0;
	margin-bottom: 20px;
}

.product_block_title_container .product_block_title {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	padding: 20px 0;
}

.product_colors {
	margin-bottom: 30px;
	overflow: hidden;
	min-width: 260px;
	font-size: 0;
}

.product_colors_item {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin-bottom: 5px;
	cursor: pointer;
}

.product_colors_item_color {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	margin-right: 8px;
	border: 5px solid #f5f5f5;
	padding: 5px;
}

.product_colors_item_active .product_colors_item_color:before,
.product_colors_item:hover .product_colors_item_color:before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	padding: 5px;
	border: 1px dashed;
	left: -5px;
	top: -5px;
}

.product_colors_item_title {
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	letter-spacing: 0.3px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.product_images {
	position: relative;
	width: 50%;
	max-width: 331px;
	float: left;
	margin: 30px 30px 30px 0;
}

.images-slider {
	max-height: 372px;
	overflow: hidden;
	background: #fff url("../img/fancybox_loading.gif") center no-repeat;
	box-shadow: 4px 4px 0 0 #bebebe;
}

.images-slider.owl-carousel {
	background: #fff;
}

.images-thumbnail {
	position: relative;
	min-height: 54px;
}

.images-slider_thumbnail {
	margin-top: 15px;
	padding: 0 30px;
}

.images-slider_thumbnail.owl-carousel .owl-item {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.product_images_thumbnail {
	display: none;
	vertical-align: middle;
	margin: 0 8px;
	border: 1px solid #c0c0c0;
}

.synced .product_images_thumbnail {
	border: 1px solid #000;
}

.images-slider.owl-carousel .owl-item {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	float: none;
}

.product_descr {
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.3px;
	overflow: hidden;
	margin-bottom: 30px;
}

.product_images_img {
	display: inline-block;
	visibility: hidden;
}

.product_images_thumbnail {
	display: none;
}

.owl-item .product_images_img,
.owl-item .product_images_thumbnail {
	display: block;
	visibility: visible;
}
.owl-item .product_images_img {
	padding: 5px;
	height: 376px;
	line-height: 376px;
}
.owl-item .product_images_thumbnail {
	height: 54px;
	line-height: 54px;
	background: #ffffff;
	text-align: center;
}

.product_certificates {
	overflow: hidden;
}

.product_certificates_item {
	margin-bottom: 30px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.product_parameters {
	margin-bottom: 30px;
}

.product_parameters_content {
	width: 100%;
	overflow: hidden;
}

.product_parameters .product_block_title {
	display: table-cell;
	padding: 20px 5px;
}

.product_parameters .product_block_title:first-child {
	padding-left: 10px;
}

.product_parameters .product_block_title:last-child {
	padding-right: 10px;
}

.product_parameters .product_block_title span {
	text-transform: none;
}

.product_parameters_item {
	font-size: 0;
	line-height: 17px;
	border-bottom: 1px solid #bebebe;
	padding: 15px 0;
}

.product_parameters_item_content {
	font-size: 14px;
	letter-spacing: 1px;
	vertical-align: middle;
	text-align: center;
	padding: 15px 5px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.product_tabs {
	margin-bottom: 50px;
}

.product_tabs .product_block_title_container {
	display: table;
	width: 100%;
}

.product_tabs .product_block_title {
	display: table-cell;
	padding: 20px 5px;
	letter-spacing: 0;
	cursor: pointer;
	font-size: 13px;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.product_tabs .product_block_title.active,
.product_tabs .product_block_title:hover {
	color: #fff;
	background: #0876bb;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.product_tabs_content {
	display: none;
	padding: 30px 0 0;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
	overflow: hidden;
}

.product_tabs_content.active {
	display: block;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.product_tabs_content_item {
	padding: 8px 15px;
	line-height: 17px;
	letter-spacing: 0.3px;
	border-bottom: 1px solid #bebebe;
}

.product_tabs_content .third-title {
	padding: 0 15px;
}

.product_tabs_content_item_title {
	display: inline-block;
	width: 190px;
	font-size: 18px;
	color: #7b7b7b;
	text-transform: uppercase;
}

.product_tabs_content_item_content {
	display: inline-block;
	font-size: 15px;
	color: #000;
}

.product_tabs_content iframe {
	max-width: 100%;
}

.product_instruction {
	display: inline-block;
	vertical-align: top;
	float: none;
	margin-bottom: 30px;
	font-size: initial;
}

.product_instruction_doc {
	position: relative;
	display: block;
	float: left;
	width: 135px;
	height: 131px;
	background: url("../img/doc-img.png") no-repeat top left;
	margin: 0 10px 15px 0;
}

.product_instruction_doc:before {
	content: '';
	position: absolute;
	width: 100px;
	height: 51px;
	right: 0;
	top: 58px;
	background: url("../img/doc-img.png") no-repeat 0 -136px;
}

.mkv .product_instruction_doc:before {
	background-position: 0 -192px;
}

.rar .product_instruction_doc:before {
	background-position: 0 -248px;
}

.zip .product_instruction_doc:before {
	background-position: 0 -304px;
}

.avi .product_instruction_doc:before {
	background-position: 0 -360px;
}

.doc .product_instruction_doc:before {
	background-position: 0 -416px;
}

.exl .product_instruction_doc:before {
	background-position: 0 -472px;
}

.png .product_instruction_doc:before {
	background-position: 0 -528px;
}

.jpg .product_instruction_doc:before {
	background-position: 0 -584px;
}

.product_instruction_title {
	display: block;
	margin-bottom: 15px;
}

.product_instruction_format {
	display: block;
	font-size: 15px;
	color: #0876bb;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	margin-bottom: 15px;
}

.product_instruction_download {
	display: block;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: underline;
}

/*--------------------------------------------------------------------------------------------------------------------*/
.product_questions {
	padding: 20px 0;
	text-align: center;
	background: #eaeaea;
}

.product_questions_title {
	font-family: 'PFDinDisplayLight', Arial, sans-serif;
	color: #0876bb;
	font-size: 36px;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.product_questions_title span {
	display: block;
	font-size: 15px;
	color: #000;
	margin-top: 10px;
}

.product_questions_phone {
	font-size: 22px;
	line-height: 22px;
	color: #13aae2;
	letter-spacing: 0.5px;
}

.product_questions_phone a {
	display: inline-block;
	vertical-align: middle;
	font-size: 11px;
	color: #000;
	text-decoration: underline;
	letter-spacing: 2px;
	text-transform: uppercase;
	white-space: nowrap;
}

.product_questions_phone a:hover {
	text-decoration: none;
}


/* F O O T E R */
/*--------------------------------------------------------------------------------------------------------------------*/
.footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: 'PFDinDisplay', Arial, sans-serif;
	background: #000;
	padding: 20px 0;
}

.footer-top {
	overflow: hidden;
	padding: 10px 0 40px;
}

.footer_order-call {
	text-align: right;
}

.footer_btn {
	display: inline-block;
	font-size: 18px;
	line-height: 25px;
	color: #0876bb;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 11px 20px;
	border: 1px solid #0876bb;
}

.footer_btn:hover {
	background: #0876bb;
	color: #000000;
}

.footer_contact-info {
	margin-bottom: 10px;
}

.footer_contact-info_title {
	float: left;
	font-size: 18px;
	color: #0876bb;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 2px 10px 5px 0;
}

.footer_contact-info_contacts {
	font-size: 14px;
	line-height: 17px;
	color: #7b7b7b;
	overflow: hidden;
}

.footer-menu {
	display: table;
	width: 100%;
	border-top: 1px solid rgba( 117, 114, 166, 0.302);
	border-bottom: 1px solid rgba( 117, 114, 166, 0.302);
}

.footer-menu_link {
	display: table-cell;
	font-size: 14px;
	color: #0876bb;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0;
}

.footer-menu_link:hover {
	color: #0876bb;
	text-decoration: underline;
}

.footer-bottom {
	font-size: 14px;
	color: #7b7b7b;
	padding-top: 30px;
	overflow: hidden;
}

.footer_production {

}

.footer_production-item {
	display: block;
	color: #7b7b7b;
	line-height: 14px;
	letter-spacing: 1px;
	padding: 10px 0;
}

.footer_production-item:hover {
	text-decoration: underline;
}

.development {
	float: right;
	display: inline-block;
	text-align: right;
	margin-top: 40px;
	border-top: 1px solid rgba( 123, 123, 123, 0.302);
	width: 245px;
	padding: 0 15px;
}

.development a {
	display: inline-block;
	color: #888888;
	line-height: 49px;
	margin-left: 3px;
}

.development a:hover {
	color: #0f84aa;
}

.hidden-block {
	display: none !important;
}


/* M E D I A */
/*--------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 1600px) {
	.slider-container img {
		width: 100%;
	}
}

@media (max-width: 1199px) {
	.slider-container {
		padding: 0 200px;
	}
	.slider-nav span.left {
		left: 100px;
	}
	.slider-nav span.right {
		right: 100px;
	}
}


@media (max-width: 991px) {
	.header_contacts_phone {
		padding-top: 22px;
	}
	.main-menu_link {
		font-size: 13px;
		padding: 7px 10px;
	}
	.slider-container {
		padding: 0 150px;
	}
	.slider_info-container_text{
		padding: 20px 40px;
	}
	.slider-nav span.left {
		left: 50px;
	}
	.slider-nav span.right {
		right: 50px;
	}
	.footer-spacer {
		padding-bottom: 430px;
	}
}


@media (max-width: 767px) {
	.form_item {
		width: 400px;
	}
	.main-page .header {
		padding-bottom: 0;
	}
	.main-page .header-top {
		position: relative;
		top: 0;
		padding-top: 20px;
	}
	.header_contacts_phone {
		padding-top: 7px;
	}
	.header_contacts_contact a:last-child {
		margin-left: 0;
		display: block;
	}
	.main-page .header_contacts_contact a:last-child {
		color: #000
	}
	.header_logo-title {
		font-size: 13px;
	}
	.navbar-header {
		text-align: center;
	}	
	.navbar-header,
	.navbar-collapse {
		background: #535353;
	}
	.main-page .main-menu {
		position: relative;
		top: auto;
	}
	.main-menu_fixed {
		background: transparent;
		padding: 0;
	}
	.main-menu-container {
		display: block;
	}
	.main-menu_link {
		display: block;
		padding: 5px 0;
		color: #13aae2;
	}
	.main-menu_link:hover,
	.main-menu_link_active {
		background: transparent;
		color: #fff;
		font-size: 14px;
	}
	.slider, .main-page .slider,
	.map {
		display: none;
	}
	.contacts_block {
		display: block;
	}
	.contacts_block_item:first-child {
		display: block;
		width: 100%;
	}
	.contacts_block_item {
		display: inline-block;
		width: 33.3%;
	}
	.contacts_block_text{
		margin-top: 0;
	}
	.dealers_select_link {
		float: none;
		display: block;
	}
	.footer-spacer {
		padding-bottom: 530px;
	}
	.footer-menu {
		text-align: center;
		padding: 10px 0;
	}
	.footer-menu_link {
		display: inline-block;
		font-size: 12px;
		padding: 5px 10px;
	}
	.footer_contact-info_title {
		float: none;
	}
}


@media (max-width: 480px) {
	.form_item {
		width: 100%;
	}
	.header_contacts {
		width: 100%;
		text-align: left;
	}
	.main_title {
		font-size: 32px;
	}
	.form_item label{
		float: none;
	}
	.catalog_item {
		width: 100%;
	}
	.default_slider_content_item {
		width: 100%;;
	}
	.clients .default_slider_content_item {
		width: auto;
	}
	.contacts_block_item,
	.contacts_block_item:first-child {
		display: inline-block;
		width: 50%;
	}
	.contacts_block_item_info {
		height: 96px;
	}
	.dealers .contacts_block_item_info {
		width: 50%;
		border-top: 0;
		padding: 10px 0;
	}
	.dealers .contacts_block_item_info:first-child {
		width: 100%;
	}
	.dealers .contacts_block_item {
		border-top: 1px solid #bebebe;
		padding: 10px 0;
	}
	.dealers .contacts_block_item:first-child {
		display: none;
	}
	.product_images {
		width: 100%;
		margin: 30px auto;
		float: none;
	}
	.product_colors_item {
		width: 50%;
	}
	.product_parameters {
		overflow: auto;
	}
	.product_tabs .product_block_title {
		display: inline-block;
		width: 100%;
	}
	.product_certificates_item {
		width: 50%;
	}
	.product_instruction {
		width: 100%;
	}
	.footer-spacer {
		padding-bottom: 725px;
	}
	.footer_contact-info,
	.footer_order-call {
		width: 100%;
	}
	.footer_order-call {
		text-align: left;
	}
	.footer_production {
		width: 100%;;
	}
}


@media (max-width: 320px) {
	.contacts_block_item,
	.contacts_block_item:first-child {
		display: block;
		width: 100%;
	}
	.contacts_block_item_info {
		border-top: none;
	}
	.dealers .contacts_block_item_info {
		width: 100%;
	}
	.product_colors_item {
		width: 100%;
	}
	.product_instruction_doc {
		float: none;
	}
	.footer-spacer {
		padding-bottom: 730px;
	}
}

.honors {display:none;}